<% form_for @toy, :html => { :multipart => true } do |f| %>

	<% if @toy.errors.any? %>
    <div id="error_explanation">
    	<ul>
      	<% @toy.errors.each do |attribute, msg| %>
        <li><%= msg %></li>
      	<% end %>
      	</ul>
    </div>
	<% end %>
	
	<p>
    <%= f.label t 'toy_title' %>
    <%= f.text_field :title, :maxlength => 40, :class=>"input large" %>
	</p>
	<p>
    <%= f.label t 'toy_description' %>
    <%= f.text_area :description, :cols => 50, :rows => 7, :class => "styled_textarea" %>
	</p>	
	<p>
	<%= f.label t 'toy_recommended_age' %>
	<%= f.select :recommended_age, Toy::RECOMMENDED_AGES.collect{|r| [t("recommended_ages.#{r}"), r]}, {:include_blank => true}%>
	</p>
	<p>
	<%= f.label t 'toy_image' %>
	<%= f.file_field :thumb %>
	</p>	
	<p>
    <%= f.label t 'toy_contact' %>
    <%= f.text_field :contact, :maxlength => 40, :class=>"input large" %>
	</p>	
	<p>
    <%= f.submit t('button_ok'), :class => "button" %>
	</p>
<% end %>