<% form_for @toy, :html => { :multipart => true } do |f| %>
	<p>
    <%= f.label t 'toy_title' %>
    <%= f.text_field :title, :maxlength => 40, :class=>"input large" %>
	</p>
	<p>
    <%= f.label t 'toy_description' %>
    <%= f.text_area :description, :cols => 50, :rows => 7, :class => "styled_textarea" %>
    </p>
	<div class="tiny">
		<%= t 'toy_description_length_1'%> <b><span id="charsLeft"></span></b> <%= t 'toy_description_length_2'%>
	</div>
	<p>
	<%= f.label t 'toy_image' %>
	<%= f.file_field :thumb %>
	</p>	
	<p>
    <%= f.label t 'toy_contact' %>
    <%= f.email_field :contact, :maxlength => 40, :class=>"input large" %>
	</p>	
	<p>
    <%= f.submit t('button_ok'), :class => "button" %>
	</p>
<% end %>
