<div class="container_16">
	<div class="grid_16">
		<div id="highlight">
		<h2><%= t 'page_title.new'%></h2>
		<p><%= t 'page_description.new'%></p>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="form">
	<div class="container_16">				
		<div class="grid_8">
			<p><%= t 'new_toy'%></p>						
		</div>
		<div class="grid_8">
			<% if (@toy.errors.any?) %>
		    <div id="error_explanation">
		    	<ul>
		      	<% @toy.errors.each do |attribute, msg| %>
				<% if (attribute == :thumb_file_size)%>
				<li><%= t 'activerecord.errors.models.toy.attributes.thumb_file_size.toobig'%></li>
				<% elsif (attribute != :thumb)%>
		        <li><%= msg %></li>
				<% end %>
		      	<% end %>
		      	</ul>
		    </div>
			<% end %>			
			<%= render 'form' %>
		</div>	
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  init();
  ctrl_dbl_click();

  // Definiciones
  $('#toy_description').limit('255','#charsLeft');
  function init(){
    $('input[type=submit]', this).removeAttr('disabled');
    $('#toy_title').focus();
    if ($('#error_explanation').is (':visible')) {
      $('#form').show(1);
      $('#contact_email').focus();
    }
  }
});
</script>