<div class="container_16">
	<div class="grid_16">
		<div id="highlight">
		<h2><%= t 'page_title.new'%></h2>
		<p><%= t 'page_description.new'%></p>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="form">
	<div class="container_16">				
		<div class="grid_8">
			<ul class="step-list">
				<li>&nbsp;</li>
				<li>
					<div class="number">1</div>
					<div class="explain"><%= t 'new_toy1'%></div>
				</li>
				<li>
					<div class="number">2</div>
					<div class="explain"><%= t 'new_toy2'%></div>
				</li>
				<li>
					<div class="number">3</div>
					<div class="explain"><%= t 'new_toy3'%></div>
					<%= t 'new_toy4'%>
				</p></li>
				<li>
					<div class="number">4</div>
					<div class="explain"><%= t 'new_toy5'%></div>
				</li>
			</ul>
		</div>
		<div class="grid_8">
			<% if (@toy.errors.any?) %>
		    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		    	<ul>
		      	</br>
				<% @toy.errors.each do |attribute, msg| %>
				<% if (attribute == :thumb_file_size)%>
				<li><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><strong><%= t 'activerecord.errors.models.toy.attributes.thumb_file_size.toobig'%></strong></li>
				<% elsif (attribute != :thumb)%>
		        <li><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><strong><%= msg %></strong></li>
				<% end %>
		      	<% end %>
		      	</ul>
		    </div>
			<% end %>			
			<%= render 'form' %>
		</div>	
		<div class="clear"></div>
	</div>
</div>
<div id="new_toy_modal">
	<div class="modal"><span><%= t 'toy_modal_body1'%></span></br></div>
	<div class="modal"><span><%= image_tag "ajax-loader.gif", :size => "270x50"%></span></br></div>
	<div class="modal"><span><%= t 'toy_modal_body2'%></span></br></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  init();
  initDialogBox();
});
$('#form').submit(function(){
  $('#toy_submit').attr("value", "<%= t 'toy_submit_new2'%>");
  $( "#new_toy_modal" ).dialog('open');
});
$(window).resize(function() {
    $("#new_toy_modal").dialog("option", "position", "center");
});
function init(){
	$('#toy_description').limit('255','#charsLeft');
	$('#toy_submit').button();
    $('#toy_title').focus();
    if ($('#error_explanation').is (':visible')) {
      $('#form').show(1);
      $('#contact_email').focus();
    }
}
function initDialogBox(){
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	$( "#new_toy_modal" ).dialog({
		title: "<%= t 'toy_modal_header'%>",
		modal: true,
		height: 250,
		width: 350,
		resizable: false,
		autoResize: true,
		disabled: true,
		draggable: false,
		autoOpen: false,
		closeOnEscape: false,
		show: 'explode',
		hide: 'blind',
		open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); } //getting out de cross on the title
	});
}
</script>