<div id="toy_detail">
	<div class="container_16">
		<div class="grid_8">
			<div class="borderbox"><%= image_tag @toy.thumb.url(:large) %></div>
		</div>
		<div class="grid_8">
			<%if (notice != nil)%><span id="notice"><%= notice %></span><%end%>
			<h1><%= @toy.title %></h1>
			<h2>Edad recomendada <%=t @toy.recommended_age.to_s, :scope => :recommended_ages %></h2>
			<p><%= @toy.description %></p>
  			<p><%= @toy.contact %></p>
			<%= link_to t('link_back'), toys_path%>
		</div>	
		<div class="clear"></div>
	</div>
</div>	
<div id="other_toys">
	<div class="container_16">
		<%if (@rest_toys.size > 0)%>
		<div class="grid_16"><h5><%= t 'other_toys'%></h5></div>
		<div class="clear"></div>
		<% @rest_toys.each_with_index do |toy,index| %>
		<%if ((@rest_toys.size == index + 1) and ((index+1)%8 != 0))%>
		<div class="grid_2 suffix_<%=16-(((index+1)%8)*2)%>">
		<%else%>
		<div class="grid_2">
		<%end%>
			<div class="borderboxmini">
			<%= link_to image_tag(toy.thumb.url(:small)), toy %>
			</div>
		</div>
		<%if (@rest_toys.size == index + 1)%><div class="clear"></div><%end%>
		<%end%>
		<%end%>		
	</div>
</div>