<div id="toy_detail">
	<div class="container_16">
		<div class="grid_8">
			<div class="borderbox"><%= image_tag @toy.thumb.url(:large) %></div>
		</div>
		<div class="grid_8">
			<%= link_to t('link_back'), toys_path(:page => session[:page])%>
			<h1><%= @toy.title %></h1>
			<p><%= @toy.description %></p>
			<%if (notice.nil?)%>
			<%= t 'interested'%>&nbsp;<a href="javascript:void(0);" id="contact_link"><%= t('link_want_it')%></a>
			<% else %>
			<div id="notice">
			<h2><%= notice %></h2>
			</div>
			<% end %>

			<% if (@contact && @contact.errors.any?) %>
		    <div id="error_explanation">
		    	<ul>
		      	<% @contact.errors.each do |attribute, msg| %>
		        <li><%= msg %></li>
		      	<% end %>
		      	</ul>
		    </div>
			<% end %>
			
			<div id="form" style="width:80%;height:200px;margin-top:20px;display:none;">				
				<%= form_for [@toy, @contact] do |f| %>
				<%= f.text_field :email, :maxlength => 40, :class=>"input medium" %> <a href="javascript:void(0);" id="cancel_link"><%= t('link_cancel')%></a>	
				<% end %>
			</div>
		</div>	
		<div class="clear"></div>
	</div>
</div>	
<div id="other_toys">
	<div class="container_16">
		<%if (@rest_toys.size > 0)%>
		<div class="grid_16"><h5><%= t 'other_toys'%></h5></div>
		<div class="clear"></div>
		<% @rest_toys.each_with_index do |toy,index| %>
		<%if ((@rest_toys.size == index + 1) and ((index+1)%8 != 0))%>
		<div class="grid_2 suffix_<%=16-(((index+1)%8)*2)%>">
		<%else%>
		<div class="grid_2">
		<%end%>
			<div class="borderboxmini">
			<%= link_to image_tag(toy.thumb.url(:small)), toy %>
			</div>
		</div>
		<%if (@rest_toys.size == index + 1)%><div class="clear"></div><%end%>
		<%end%>
		<%end%>		
                </div>
        </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#contact_link').click(
    function(){
      $('#form').show(10);
      $('#contact_email').val('');
      $('#contact_email').focus();
    }
  );
  $('#cancel_link').click(
    function(){
      $('#form').hide(10);
      $('#error_explanation').hide();
    }
  );
});
</script>