<div id="highlight">
	<div class="container_16">
		<div class="grid_16">
     		<h1><%= t 'highlight.headline'%></h1>
   		</div>
		<div class="clear"></div>
		<div class="grid_4">
			<h3><%= t 'highlight.article.what'%></h3>
			<span class="lucida"><%= t 'highlight.article.what_description'%></span>
		</div>
		<div class="grid_4">
			<h3><%= t 'highlight.article.how'%></h3>
			<span class="lucida"><%= t 'highlight.article.how_description'%></span>
		</div>
		<div class="grid_4">
			<h3><%= link_to t('highlight.article.toys'), {:controller =>"toys", :action => "index"} %> »</h3>
			<span class="lucida"><%= t 'highlight.article.toys_description'%></span>
		</div>
		<div class="grid_4">
			<h3><%= link_to t('highlight.article.new_toy'), {:controller =>"toys", :action => "new"} %> »</h3>
			<span class="lucida"><%= t 'highlight.article.new_toy_description'%></span>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="grid">
	<div class="container_16">
	<%if (@toys.size > 0)%>
	<div class="grid_16"><h1><%= t 'last_toys'%></h1></div>
	<div class="clear"></div>
	<%end%>
	<% @toys.each_with_index do |toy,index| %>
		<%if ((@toys.size == index + 1) and ((index+1)%4 != 0))%>
    	<div class="grid_4 suffix_<%=(4-((index+1)%4))*4%>">
    	<%else%>
    	<div class="grid_4">
    	<%end%>
    		<div class="box">
        		<div class="thumb">
              	<%= link_to image_tag(toy.thumb.url(:medium)), toy %>
			  	<%= link_to toy, {:class => "gallery-over"} do  %>
			  	<strong><%= toy.title %></strong>
				<span class="dim"><%=t toy.recommended_age.to_s, :scope => :recommended_ages %></span>
				<%end%>
				</div>			
            </div>
        </div>
    	<%if (@toys.size == index + 1)%><div class="clear"></div><%end%>
	<%end%>
	</div>
</div>