<div class="container_16">
	<div class="grid_16">
		<div id="highlight">
		<h2><%= t 'page_title.home'%></h2>
		<p><%= t 'page_description.home'%></p>
		<p><%= t 'page_description.home2'%></p>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="grid">
	<div class="container_16">
	<%if (@toys.size > 0)%>
	<div class="grid_16"><h6><%= t 'last_toys', :location => session[:geo_location].city %></h6></div>
	<div class="clear"></div>
	<%end%>
	<% @toys.each_with_index do |toy,index| %>
		<%if ((@toys.size == index + 1) and ((index+1)%4 != 0))%>
    	<div class="grid_4 suffix_<%=(4-((index+1)%4))*4%>">
    	<%else%>
    	<div class="grid_4">
    	<%end%>
    		<div class="box">
        		<div class="thumb">
              	<%= link_to image_tag(toy.thumb.url(:medium)), toy %>
			  	<%= link_to toy, {:class => "gallery-over"} do  %>
			  	<strong><%= toy.title %></strong>
				<span class="dim"><%= toy.location %></span>
				<%end%>
				</div>			
            </div>
        </div>
    	<%if (@toys.size == index + 1)%><div class="clear"></div><%end%>
	<%end%>
	</div>
</div>