<script>
$(document).ready(function () {
  init();
  function init(){
	$('div.thumb').hover(
		function () {
				$(this).find('a.gallery-over').stop().fadeTo('fast', 1);
				$(this).find('div.box').stop().fadeTo('fast', 1);
				$(this).find('img').stop().fadeTo('fast', 0.3);
			},
		function () {
				$(this).find('a.gallery-over').stop().fadeTo('fast', 0);
				$(this).find('div.box').stop().fadeTo('fast', 0);
				$(this).find('img').stop().fadeTo('fast', 1);
			}
		);
	}
});
</script>
<div id="highlight">
	<div class="container_16">
		<div class="grid_16">
     		<h1>Somos una nueva oportunidad para esos juguetes arrinconados en tu casa.</h1>
   		</div>
		<div class="clear"></div>
		<div class="grid_4">
			<h3>¿Qué es?</h3>
			<span class="lucida">Wantatoy es un como tablón de anuncios. Nos dices quién eres y qué compartes y ... ¡magia!</span>
		</div>
		<div class="grid_4">
			<h3>¿Cómo funciona?</h3>
			<span class="lucida">Wantatoy es un como tablón de anuncios. Nos dices quién eres y qué compartes y ... ¡magia!</span>
		</div>
		<div class="grid_4">
			<h3><%= link_to "Ver los juguetes", {:controller =>"toys", :action => "index"} %> »</h3>
			<span class="lucida">Échale un vistazo a la galería ... </span>
		</div>
		<div class="grid_4">
			<h3><%= link_to "¡Comparte uno!", {:controller =>"toys", :action => "new"} %> »</h3>
			<span class="lucida">¡ Comparte y disfruta !</span>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="grid">
	<div class="container_16">
	<%if (@toys.size > 0)%>
	<div class="grid_16"><h1>Últimos juguetes añadidos ...</h1></div>
	<div class="clear"></div>
	<%end%>
	<% @toys.each_with_index do |toy,index| %>
		<%if ((@toys.size == index + 1) and ((index+1)%4 != 0))%>
    	<div class="grid_4 suffix_<%=(4-((index+1)%4))*4%>">
    	<%else%>
    	<div class="grid_4">
    	<%end%>
    		<div class="box">
        		<div class="thumb">
              	<%= link_to image_tag(toy.thumb.url(:medium)), toy %>
			  	<%= link_to toy, {:class => "gallery-over"} do  %>
			  	<strong><%= toy.title %></strong>
				<span class="dim"><%=t toy.recommended_age.to_s, :scope => :recommended_ages %></span>
				<%end%>
				</div>			
            </div>
        </div>
    	<%if ((index+1)%4 == 0)%><div class="clear"></div><%end%>
	<%end%>
	</div>
</div>