<!DOCTYPE html>
<html>
  <head>
    <title>wantatoy queremos jugar más</title>
    <%= stylesheet_link_tag("reset")%>
    <%= stylesheet_link_tag("text")%>
    <%= stylesheet_link_tag("960")%>
	<%= stylesheet_link_tag("styles")%>
	<%= stylesheet_link_tag("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz")%>	
    <%= javascript_include_tag :defaults, "jquery.qtip-1.0.0-rc3.min.js" %>
    <%= csrf_meta_tag %>
  </head>
<body>
<div id="container">	
	
	<div id="header">
	<div class="container_16">
		<div class="prefix_8 grid_8">
			<nav>
			<ul>				  
				<li><%= link_to 'Inicio', {:controller => 'home'}, {:class => "#{if (params[:controller] == 'home') then 'current' end}"}%>
				</li>
				<li>
					<%= link_to 'Ver juguetes', toys_path, 
						{:class => "#{if (params[:controller] == 'toys' and params[:action] != 'new' and params[:action] != 'create') then 'current' end}"} %>
				</li>
				<li>
					<%= link_to 'Añadir juguete', new_toy_path, 
					{:class => "#{if (params[:controller] == 'toys' and (params[:action] == 'new' or params[:action] == 'create')) then 'current' end}"} %>
				</li>
			</ul>
			</nav>
		</div>
		<div class="clear"></div>
	</div>	
	</div>
	
	<div id="content">
	<%= yield %>
	</div>
	
	<div id="footer">
		<div class="container_16">
			<div class="grid_15"><p>&lt;2011 Wantatoy Team&gt; puedes seguirnos en</p></div>
			<div class="grid_1">
				<div id="twitter"><a href="http://www.twitter.com/wantatoy" target="_blank"><%= image_tag "twitter-icon.png"%></a></div>
			</div>		
			<div class="clear"></div>
		</div>
	</div>
	
</div>
</body>
</html>